@page
@model CreateModel
<a asp-page="Index" class="btn btn-outline-primary">
	← Volver a Usuarios
</a>
<nav aria-label="breadcrumb">

	<ol class="breadcrumb">

		<li class="breadcrumb-item">
			<a href="/">Inicio</a>
		</li>

		<li class="breadcrumb-item">
			<a href="/Usuarios">Usuarios</a>
		</li>

		<li class="breadcrumb-item active">
			Nuevo Usuario
		</li>

	</ol>

</nav>

<h2>Agregar Usuario</h2>

<form method="post">

	<div>
		<label>Nombre</label>
		<input asp-for="Usuario.Nombre" class="form-control" />
	</div>

	<div>
		<label>Apellido</label>
		<input asp-for="Usuario.Apellido" class="form-control" />
	</div>

	<div>
		<label>Telefono</label>
		<input asp-for="Usuario.Telefono"
			   class="form-control"
			   maxlength="10"
			   pattern="[0-9]{10}"
			   title="Debe tener 10 números" />
	</div>

	<div>
		<label>Correo</label>
		<input asp-for="Usuario.Correo" class="form-control" />
	</div>

	<br>

	<div class="mt-3">

		<button type="submit" class="btn btn-success">
			Guardar
		</button>

		<a asp-page="Index" class="btn btn-secondary">
			Cancelar
		</a>

	</div>
	</button>

</form>