@page "{id:int}"
@model DeleteModel

<h3>¿Seguro que deseas eliminar este usuario?</h3>

<form method="post">

	<input type="hidden" asp-for="Usuario.Id" />

	<p>@Model.Usuario.Nombre @Model.Usuario.Apellido</p>

	<button type="submit" class="btn btn-danger">
		Eliminar
	</button>

	<a asp-page="Index" class="btn btn-secondary">
		Cancelar
	</a>

</form>